* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
   max-width: 90%;
   margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;
}

nav .logo-section {
    display: flex;
    align-items: center;
}

.search-block {
    border: 1px solid #D9DDE7;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-left: 1.4rem;
}

nav input {
    border: none;
    min-width: 190px;
}

nav input:focus {
    outline: none;
}

nav ul {
    display: none;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 1rem;
    background: whitesmoke;
    margin-top: 1rem;
}

nav ul.show {
    display: block;
}


nav ul li {
    padding-bottom: 1rem;
}

nav ul li:last-child {
    padding-bottom: 0;
}

nav ul li a {
    color: #596172;
    text-decoration: none;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url('../img/mobile-img.png');
    min-height: calc(100vh - 65px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
}

.hero__text-block {
    width: 90%;
    margin: 0 auto;
    color: #fff;
}

.hero__text-block .house-emoji {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero__text-block h1 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
    font-weight: 400;
}

.search-block.search-block--hero input {
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
}

.search-block.search-block--hero input:focus {
    outline: none;
    border: none;
}

.hero ::placeholder {
    color: #fff;
}

.search-block.search-block--hero {
    margin-left: 0;
    width: 70%;
}

.hero__btn-block {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.hero__btn-block .btn {
    color: #fff;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.hero__btn-block .btn-success {
    background: #25DF8F;
}

.hero__btn-block .btn-secondary {
    background: #C1C8D7;
}

.apartments {
    background: #F6F6F7;
}

.apartments .section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.apartments .section-heading h2 {
    font-weight: 400;
    color: #2B313D;
    font-size: 1.2rem;
}

.apartments .section-heading h2 span {
    color: #949FB7;
}

.apartments .section-heading a {
    color: #596172;
    text-decoration: none;
    font-size: 1rem;
}

.apartments__list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

section {
    padding: 2rem 0;
}

.apartments__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apartments__meta span {
    color: #596172;
    font-size: 0.8rem;
    padding-top: 0.4rem;
}

.apartments__card img {
    width: 100%;
}

.apartments__title {
    margin-top: 1rem;
}

.apartments__title a {
    color: #2B313D;
    text-decoration: none;
    line-height: 1.6;
}

.hero__image-block {
    display: none;
}

/* Media queries */
@media(min-width: 800px) {
    nav .hamburger {
        display: none;
    }

    nav ul.nav-list {
        width: auto;
        display: flex;
        align-items: center;
        background: transparent;
        margin-top: 0;
        padding: 0;
    }

    nav ul.nav-list li {
        padding-bottom: 0;
        margin-left: 1.8rem;
    }

    nav {
        flex-wrap: nowrap;
    }

    .hero__text-block h1 {
        width: 60%;
    }

}

@media(min-width: 992px) {
    .hero {
        background: #fff;
        min-height: auto;
    }
    .hero__text-block {
        width: 45%;
        margin-left: 5%;
    }
    .hero__image-block {
    display: block;
    width: 55%;
    margin-left: 4rem;
    }
    .hero__image-block img {
        height: 100%;
        width: 100%;
    }
    .hero__text-block h1 {
        color: #2B313D;
        font-weight: 400;
        width: 100%;
    }
    .search-block.search-block--hero input {
        color: #949FB7;
    }

    .search-block.search-block--hero ::placeholder {
        color: #949FB7
      }

      .apartments__list-wrapper {
          grid-template-columns: repeat(3, 1fr);
      }
}

@media(min-width: 1192px) {
    html {
        font-size: 20px;
    }
    .apartments__list-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}

